<!--
The `concerto-iframe` element provides embedded content.
@element concerto-content
@status alpha
-->
<polymer-element name="concerto-iframe" attributes="path" constructor="ConcertoIframe" extends="concerto-content">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
      }
      :host(.core-transition) {
        overflow: hidden;
      }
      #iframe {
        width: 100%;
        height: 100%;
      }
    </style>
    <iframe id="iframe" frameBorder="0"></iframe>
  </template>

  <script>
    Polymer({
      domReady: function() {
        this.$.iframe.src = this.path;
      }
    });
  </script>
</polymer-element>
<script> 
  registerContentType("concerto-iframe", "ConcertoIframe");
</script>